::-webkit-scrollbar {
    width: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .mainWrapper {
    display: flex;
    flex-direction: column;
  
    width: 100vw;
    height: 100vh;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100vw;
    height: 60px;
  
    background: rgba(20, 20, 20, 0.95);
  }
  
  .navigation > a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100px;
    height: 40px;
  
    left: 10px;
    top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
  
    color: white;
  }
  
  .navigation > a:hover {
    color: blue;
  }
  
  .navigation > .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    min-width: 300px;
    
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
  
    color: white;
  }

  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding-top: 60px;

    background: #050505;
    color: white;
  }

  .variation {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 300px;

    margin: 10px;
    box-shadow: 1px 3px 5px rgb(25,25,25);

    background: linear-gradient(45deg, black, rgb(27, 27, 27), rgb(48, 48, 48));
}

.variation  .circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--w);
    height: var(--w);

    border: 10px solid rgb(155, 146, 146);
    border-radius: 50%;
    border-left-color: transparent;

    background-color: transparent;
    animation: rotate calc(var(--s)*1s) linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(359deg);
    }
}